body {
    background: linear-gradient(to right, blue, purple);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
}

h1:hover {
    text-shadow: 0px 5px 10px white;
}

h1 {
    margin-bottom: 20px;
    font-size: 28px;
    color: #333;
    text-shadow: 2px 3px 5px #ccc;
}

.task-box {
    background: #f9f9f9;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 3px 5px 8px rgba(0, 0, 0, 0.2);
    width: 350px;
    box-shadow: 3px 3px 3px 5px white;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0 0 15px 0;
}

li {
    background: #fff;
    margin: 8px 0;
    padding: 12px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    word-break: break-word;
    box-shadow: 3px 5px 8px rgba(0, 0, 0, 0.2);
    /* Fix text overflow */
}

.task-text {
    flex: 1;
    margin-right: 10px;
}

.update {
    background-image: url("update.png");
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 25px;
    min-height: 25px;
    border-radius: 50%;
    margin-right: 10px;
    box-shadow: 3px 5px 8px rgba(0, 0, 0, 0.2);
}

.trace {
    background-image: url("delete.png");
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 25px;
    min-height: 25px;
    border-radius: 50%;
    box-shadow: 3px 5px 8px rgba(0, 0, 0, 0.2);
}

.update:hover {
    box-shadow: 0px 4px 10px 3px yellow;
    transform: scale(1.1);
}


.trace:hover {
    box-shadow: 0px 4px 10px 3px red;
    transform: scale(1.1);
}

.input-box {
    display: flex;
    gap: 10px;
}

.input-box input {
    flex: 1;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    background-color: #ddd;
}

.input-box button {
    padding: 10px 16px;
    border: none;
    background: darkblue;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
}

.input-box button:hover {
    background: darkorchid;
}

span {
    max-width: 250px;
}
